<settings>
  <servers>
    <server>
      <id>maven-releases</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>maven-snapshots</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>maven-central</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    
    
    
    <!-- <server>
      <id>qwerty_test</id>
      <username>sourav</username>
      <password>redhat</password>
    </server> -->
  </servers>
  <mirrors>
  <mirror>
    <id>maven-central</id>
    <mirrorOf>*,!maven-releases,!maven-snapshots</mirrorOf>
    <url>http://172.31.41.240:8081/repository/maven-central/</url>
  </mirror>
  </mirrors>
</settings>